<nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <h1>visurl</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<main>
    <router-outlet></router-outlet>
</main>

<footer class="footer mt-auto py-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <p class="col-md-12 mb-0 text-muted">&copy; 2023 visurl &bull; Made by <span
                        class="text-primary">Vianney Achu</span></p>
            </div>
        </div>
    </div>
</footer>